*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

button{
    border: none;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
    // margin-left: 0;
    // margin-right: 0;
}

button{
    border: none;
}

input:focus{
    outline: none;
}

@media screen and (max-width:1000px){
    .container{
        max-width: 90%;
    }
}